{% extends 'base.html.twig' %}
{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ajout d'un nouvel utilisateur</h1>
        </div>
    </div>
    <div class="container">
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <div class="col text-right p-0">
            <button type="button" class="btn btn-outline-secondary mr-2" onClick="window.history.back();">Retour</button>
            <button type="submit" class="btn btn-p">Enregistrer</button>
        </div>
        {{ form_end(userForm) }}
    </div>
{% endblock %}