{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Liste des utilisateurs</h1>
        </div>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-question">Ajouter un utilisateur</button>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
{% endblock %}

